/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}


.btn-p{
    
flex-shrink: 0;
border: 5px;
border-radius: 5px;
background: #FD6E0A;
color: aliceblue;
font-size: 20px;
padding: 15px 35px;
}

header{
    background-color: #FFF8F3;
}

/* nav releted  */

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px 0 250px;
    


}

nav> ul{
    list-style: none;
    display: flex;
    align-items: center;
    

}

nav li{
    list-style: none;
    margin-right: 51px;
    color: #474747);

font-size: 20px;

font-weight: 400;

}

.logo{
    color: #0a0808;
    font-size: 45px;
    font-weight: 800;

}
span{
    color: tomato;
}


/* nav done */



/* header style */


.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
   
}

.photo{
    width: 584px;
height: 676px;



}

.greetimg{
    color:  #474747);

font-size: 45px;

font-weight: 600;

}
.name{
    color:  #181818);
font-size: 85px;
font-weight: 700;
}
.details{
    
width: 585px;


padding-bottom: 20px;
}